@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

* {
    font-family: 'REM', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ebe7b7;
}

#counter {
    background-color: #001f21;
    padding: 2rem;
    border-radius: 8px;
}

#counter div {
    display: flex;
    align-items: center;
}

#value {
    font-size: 6rem;
    color: #fff;
    min-width: 14rem;
    text-align: center;
}

button {
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: opacity .3s;
}

button:hover {
    opacity: .8;
}

.count-button {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    background-color: #26ade4;
    margin-right: 1rem;
    border-radius: 50%;
}

.count-button:last-child {
    margin-right: 0rem;
    margin-left: 1rem;
}

#reset {
    width: 100%;
    font-size: 1.5rem;
    background-color: #26ade4;
    padding: .8rem 0;
    margin-top: 1rem;
}